
@font-face {
    font-family: QuicksandBold;
    src: url(Quicksand-Bold.ttf);
}

.TechCom {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#82C3EC), to(#FDDE40));
    height: 100vh;
    background-attachment: fixed;
    /* overflow:hidden;
    background-color: #3B84B3; */
}

#TheDM {
    font-family: QuicksandBold;
    background-color: #82C3EC;
    border-radius: 30px;
    margin: auto;
    width: 65%;
    padding: 10px;
}

h2 {
    text-decoration: underline;
    background-color: #3B84B3;
    color: #FDDE40;
    border-radius: 15px;
    padding-left: 10px;
}

.health-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20px; /* adjust the width as needed */
    background-color: #333;
}

.health-bar {
    height: 100%;
    background-color: red;
}

table {
    border-collapse: collapse;
}

td {
    padding: 10px;
}
